/* below is the styling for the json file */
#animation {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none; /* lets user interact with page below */
  z-index: 9999;
}
